{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Socceria</title>
  <link rel="stylesheet" href="{% static '/styles/style.css' %}">
</head>
<body>
  <div class="container">
    <h1>Socceria</h1>
    <h2>O seu assistente esportivo</h2>
    
    <form class="search-form" method="post" action="{% url 'get_news' %}">
      {% csrf_token %}
      <textarea name="prompt" placeholder="Como posso te ajudar a entender mais sobre o mundo do futebol?"></textarea>
      <button type="submit">Pesquisar</button>
    </form>
    
    {% if error_message %}
      <p>{{ error_message }}</p>
    {% endif %}
    
    {% if result %}
      <div class="response">
        {{ result | safe }}
      </div>
    {% endif %}

  </div>
</body>
</html>
